* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #c4dbe2, #e2c4c4);
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    align-content: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 100%;
    max-width: 450px;
    margin: 40px 0;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: rgb(101, 101, 101);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin: 20px 6px;
    transition: 0.5s;
}

button:hover {
    background: skyblue;
}

p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: rgb(0, 135, 188);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: rgb(225, 157, 157);
    border-radius: 6px;
    font-size: 16px;
    color: rgb(69, 49, 49);
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px 0;
}

span {
    color: aqua;
}

.box {
    font-size: 22px;
    margin: 40px 0;
}

.box form {
    padding: 0 20px;
}

.logout {
    margin: 0 10px;
    background-color: rgb(162, 61, 61);
}

.logout:hover {
    background-color: rgb(124, 2, 2);
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.search-bar {
    margin: 20px 0;
    text-align: center;
}

hr {
    margin: 10px 0;
}

table,
th,
td {
    border-collapse: separate;
}

tr {
    background-color: rgb(234, 234, 234);
}

tr:nth-child(even) {
    background-color: rgb(206, 206, 206);
}

tr:hover {
    background-color: #b9b9b9;
}

th {
    background-color: rgb(101, 101, 101);
    font-weight: bold;
    color: white;
    padding: 3px 10px;
}

td {
    padding: 3px 10px;
}

td a {
    color: rgb(0, 43, 237);
    text-decoration: none;
}

.student-edit-form {
    display: flex;
    flex-direction: column;
}